<ul class="keyboard">
  <ul class="keyboard__wrapper">
    <li class="keyboard__button"> A </li>
    <li class="keyboard__button"> B </li>
    <li class="keyboard__button"> C </li>
    <li class="keyboard__button"> D </li>
    <li class="keyboard__button"> E </li>
    <li class="keyboard__button"> F</li>
    <li class="keyboard__button"> G </li>
    <li class="keyboard__button"> H </li>
    <li class="keyboard__button"> I </li>

    <li class="keyboard__button"> J </li>
    <li class="keyboard__button"> K </li>
    <li class="keyboard__button"> L </li>
    <li class="keyboard__button"> M </li>
    <li class="keyboard__button"> N </li>
    <li class="keyboard__button"> O</li>
    <li class="keyboard__button"> P </li>
    <li class="keyboard__button"> Q </li>
    <li class="keyboard__button"> R </li>

    <li class="keyboard__button"> S </li>
    <li class="keyboard__button"> T </li>
    <li class="keyboard__button"> U </li>
    <li class="keyboard__button"> V </li>
    <li class="keyboard__button"> W </li>
    <li class="keyboard__button"> X </li>
    <li class="keyboard__button"> Y </li>
    <li class="keyboard__button"> Z </li>
  </ul>
  </div>