<ul class="keyboard">
  <ul class="keyboard__wrapper">
    <li class="keyboard__button"> A </li>
    <li class="keyboard__button"> B </li>
    <li class="keyboard__button"> C </li>
    <li class="keyboard__button"> D </li>
    <li class="keyboard__button"> E </li>
    <li class="keyboard__button"> F</li>
    <li class="keyboard__button"> G </li>
    <li class="keyboard__button"> H </li>
    <li class="keyboard__button"> I </li>

    <li class="keyboard__button"> A </li>
    <li class="keyboard__button"> B </li>
    <li class="keyboard__button"> C </li>
    <li class="keyboard__button"> D </li>
    <li class="keyboard__button"> E </li>
    <li class="keyboard__button"> F</li>
    <li class="keyboard__button"> G </li>
    <li class="keyboard__button"> H </li>
    <li class="keyboard__button"> I </li>

    <li class="keyboard__button"> A </li>
    <li class="keyboard__button"> B </li>
    <li class="keyboard__button"> C </li>
    <li class="keyboard__button"> D </li>
    <li class="keyboard__button"> E </li>
    <li class="keyboard__button"> F</li>
    <li class="keyboard__button"> G </li>
    <li class="keyboard__button"> H </li>
  </ul>
  </div>