<div class="describeWord">
  <div class="describeWord__wrapper">
    <ul class="word">
      <li class="word__letter">r</li>
      <li class="word__letter">a</li>
      <li class="word__letter">i</li>
      <li class="word__letter">n</li>
      <li class="word__letter">b</li>
      <li class="word__letter">o</li>
      <li class="word__letter">w</li>
    </ul>
    <div class="hint">I am purple, yellow, red, and green the King cannot reach me and neither can the Queen. I show my colors after the rain and only when the sun comes out again.</div>
    <div class="guesses">
      <p class="guesses__text"> incorrect guesses </p>
      <ul class="guesses__digits">
        <li class = "guesses__digit">0</li>
        <li>/</li>
        <li>6</li>
      </ul>
    </div>
  </div>
</div>