<section class="gallows">
  <div class="gallows__wrapper">
    <div class="gallowers__roof gallowers_line"></div>
    <div class="gallowers__pillar gallowers_line"></div>
    <div class="human">
      <div class="human__part human__head"></div>
      <div class="human__part  human__body"></div>
      <div class="human__part  human__leftArm"></div>
      <div class="human__part  human__rightArm"></div>
      <div class="human__part  human__leftLeg"></div>
      <div class="human__part  human__rightLeg"></div>
    </div>
  </div>
</section>